body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to top, #e6e6fa, #dda0dd);
}

.image-container {
  text-align: center;
}

.image-container img {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: lightgrey;
  height: 300px;
  width: 300px;
}

.btn {
  background-color: #dda0dd;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
